git reset.ipynb_checkpoints/
__pycache__/
.DS_Store
data/*.fits
data/*.h5
.idea/

# python
__pycache__/
*.pyc
.venv/
.env/
.ipynb_checkpoints/

# notebooks artifacts
notebooks/*-output/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store

# data
data/raw/
data/interim/
data/processed/
